body {
  background-color: rgb(206, 206, 206);
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin: 0 auto;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}
h2 {
  text-decoration: underline;
}

table {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

table,
th,
td {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

table tr td:first-child {
  width: 1%;
}
th {
  height: 4em;
  background-color: rgb(181, 218, 255);
}
.blue-table {
  height: 3em;
  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;
  background-color: rgb(134, 184, 255);
}
.green-table {
  height: 3em;
  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;
  background-color: rgb(110, 183, 50);
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
}

header {
  background-color: rgba(0, 0, 0, 0.164);
}
.submit-list-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.submit-list {
  margin-top: 1em;
  font-size: 1rem;
  font-weight: 900;
}
.form-search {
  margin-bottom: 1em;
}

form {
  display: flex;
  justify-content: flex-end;
  gap: 0.2em;
  width: 100%;
}

.form-search input {
  width: 50%;
  height: 5vh;
  font-size: 1.1rem;
  font-weight: 600;
}

.counter {
  font-weight: 900;
}

.counter span {
  font-size: 1.3rem;
  margin-left: 0.4em;
}
