body {
  background-color: rgb(206, 206, 206);
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin: 0 auto;
}

table {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

table,
th,
td {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

table tr td:first-child {
  width: 1%;
}
th {
  height: 4em;
  background-color: rgb(255, 195, 247);
}
.blue-table {
  height: 3em;
  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;
  background-color: rgb(176, 162, 255);
}
.green-table {
  height: 3em;
  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;
  background-color: rgb(113, 252, 0);
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
}

header {
  background-color: rgba(0, 0, 0, 0.164);
}
